@model n01629177Cumulative1.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>
    @Model.teacherFName @Model.teacherLName
</h2>

<ul>
    <li>
        Employee Number : @Model.employeeNumber
    </li>
    <li>
        Hire Date : @Model.hireDate
    </li>
    <li>
        Salary : @Model.salary
    </li>
</ul>

