@model n01629177Cumulative1.Models.Teacher
@{
    ViewBag.Title = "Show";
}


<div class="flex h-space-between v-center">
  <a href="/Teacher/List" class="">Go Back</a>
  <a href="/Teacher/DeleteConfirm?teacher_id=@Model.teacherId" class="danger-link">Delete</a>
</div>

<h2>
    @Model.teacherFName @Model.teacherLName
</h2>

<ul>
    <li>
        Employee Number : @Model.employeeNumber
    </li>
    <li>
        Hire Date : @Model.hireDate
    </li>
    <li>
        Salary : @Model.salary
    </li>
</ul>

