@model n01629177Cumulative1.Models.Course
@{
    ViewBag.Title = "Show";
}

<div class="flex h-space-between v-center">
  <a href="/Course/List" class="">Go Back</a>
</div>

<h2>
    @Model.classCode : @Model.className
</h2>

<ul>
    <li>
        Start Date : @Model.startDate
    </li>
    <li>
        Finish Date : @Model.finishDate
    </li>
    <li>
        <a href="/Teacher/Show?teacher_id=@Model.teacherId">
            Teacher Id : @Model.teacherId
        </a>
    </li>
</ul>

